/* Global */
body {
    margin: 0;
    text-align: center;
    background: #ffffff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
    font-family: Arial;
}
/* Splash */
.splash {
    height: 100vh;
    position: relative;
    background-image: url('https://images.pexels.com/photos/5185159/pexels-photo-5185159.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page-title {
    color: black;
    font-size: 30px;
    margin: 48px 0 0 0;
    position: relative;
    text-shadow: 0 0 25px white;
    font-family: Arial;
    font-style: italic;
}
.page-subtitle {
    color: black;
    font-size: 60px;
    margin: 48px 0 0 0;
    font-weight: bold;
}
.btn-primary {
    padding: 20px;
    margin-top: 50px;
}
.title {
    font-size: 30px;
    padding-top: 50px;
    font-weight: bold;
}
.subtitle {
    font-size: 20px;
    color: gray;
    font-style: italic;
    margin-bottom: 50px;
}
i {
    color: orange;
    font-size: 50px;
    margin: 20px;
}
h3, h5 {
    font-size: 20px;
    font-weight: bold;
}
p, h6 {
    font-size: 15px;
    color: gray;
    line-height: 150%;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.our-portfolio {
    background-color: lightgray;
    padding-top: 50px;
    padding-bottom: 50px;
}
.row {
/*    border: 1px solid red; */
    padding-bottom: 20px;
}
.tile {
/*    border: 1px dotted blue; */
    height: 400px;
}
.tile-description {
    display: flex;
	justify-content: center;
	align-items: center;
    height:90px;
    background-color: white;
/*    border: 2px solid red; */
}
.tile-text {
/*    border: 2px solid blue; */
    padding: 15px;
}
.tile-inner1 {
    padding-right: 15px;
}
.tile-inner2 {
    padding-right: 15px;
    padding-left: 15px;
}
.tile-inner3 {
    padding-left: 15px;
}
.tile-picture {
/*    border: 1px solid black; */
    height: 300px;
}
.tile-picture1 {
    background-image: url('https://images.pexels.com/photos/57690/pexels-photo-57690.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.tile-picture2 {
    background-image: url('https://images.pexels.com/photos/3183153/pexels-photo-3183153.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
.tile-picture3 {
    background-image: url('https://images.pexels.com/photos/7376/startup-photos.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
h6 {
/*    margin: 0 auto; */
    font-style: italic;
}
.tile-picture4 {
    background-image: url('https://images.pexels.com/photos/6457521/pexels-photo-6457521.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
.tile-picture5 {
    background-image: url('https://images.pexels.com/photos/6373289/pexels-photo-6373289.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
.tile-picture6 {
    background-image: url('https://images.pexels.com/photos/1181395/pexels-photo-1181395.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
/* footer */
.left {
    padding: 30px;
}
/* icons */
.icons {
    list-style-type: none;
    padding: 5px;
    display: flex;
}
i {
    margin-right: 0;
}
.icons i {
    font-size: 24px;
    background: black;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 50%;
    padding: 0 0 0 0;
    transition: all 1s;
}
/* navigation */
.navigation {
    background-color: none;
    padding: 12px 0;
}
/* all menu elements*/
.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/* horizontal menu elements */
.navigation li {
    display: inline-block; /* inline is not correct */
    margin-right: 36px;
    position: relative;
}
.navigation a {
    text-decoration: none;
    color: black;
}
.navigation a:hover {
    color: red;
}
.navigation ul ul li {
    display: block;
    margin-bottom: 12px;
}
/* or .navigation li ul ? */
.navigation li ul {
    display: none;
    background-color: none;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 12px;
}
.navigation li:hover ul {
    display: block;
    position: absolute;
}
.navigation li ul a {
    color: black;
    display: block;
    padding: 0 24px;
}
.logo {
   display: flex;
}
.logo p {
    color: darkred;
    font-weight: bold;
    letter-spacing: 8px;
    text-decoration: double;
    font-size: 18px;
}
.nav {
    justify-content: space-between;
}